<%- include('./partials/header.ejs') %>

<div class="row mt-5">
    <div class="col-md-8 mx-auto text-center">
        <div class="card p-5">
            <h1 class="display-4 fw-bold text-primary mb-4">Selamat Datang</h1>
            <p class="lead text-muted mb-4">Ini adalah Dashboard Aplikasi Pendataan Mahasiswa Sederhana.</p>
            <hr class="my-4">
            <p></p>
            <div class="mt-4">
                <a href="/data" class="btn btn-outline-primary btn-lg me-2">Lihat Data Tabel</a>
                <a href="/form" class="btn btn-primary btn-lg">Tambah Data Baru</a>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
